/* CSS for default things */

window#waybar {
  background-color: rgba(0, 0, 0, 0.6);
}

#tags {
  margin: 0px;
  margin-left: 4px;
  margin-right: 4px;
  padding: 0px;
  background-color: transparent;
  color: #dfdfdf;
}

#tags button {
  min-width: 0;
  min-height: 0;
  margin: 0px;
  margin-left: -2px;
  padding: 0px; 
  background-color: transparent;
  border-radius: 4px;
  font-family: "FiraCode Nerd Font Mono", auto, auto;
  font-size: 0;
  font-weight: bold;
}

#tags button.occupied {  
  padding-left: 24px;
  padding-right: 24px;
  margin-left: 1px;
  background-color: transparent;
  color: #dfdfdf;
  font-size: 16px;
}

#tags button.focused {
  padding-left: 24px;
  padding-right: 24px;
  margin-left: 1px;
  background-color: #dfdfdf;
  color: #181818;
  font-size: 16px;
}

#tags button.urgent {
  padding-left: 24px;
  padding-right: 24px;
  margin-left: 1px;
  background-color: #ff8f40;
  color: #dfdfdf;
  font-size: 16px;
}

#window {
  margin: 0px;
  margin-left: 2px;
  margin-right: 4px;
  padding: 0px;
  padding-right: 4px;
  font-family: "FiraCode Nerd Font", auto, auto;
  font-size: 14px;
  background-color: transparent;
  color: #dfdfdf;
}

#waybar.empty #window { /* no window makes window title disappear */
  background-color: transparent;
  background: none;
}

#clock {
  margin: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
  padding-left: 4px;
  padding-right: 4px;
  font-family: "FiraCode Nerd Font Mono", auto, auto;
  font-size: 18px;
  font-weight: bold;
  background-color: transparent;
  color: #dfdfdf;
}

#tray {
  margin: 0px;
  margin-left: 8px;
  margin-right: 0px;
  padding: 0px;
  padding-left: 8px;
  padding-right: 8px;
  font-family: "FiraCode Nerd Font Mono", auto, auto;
  font-size: 12px;
  background-color: transparent;
  color: #dfdfdf;
}

#battery {
  margin: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
  padding-left: 4px;
  padding-right: 4px;
  font-family: "Sans", auto, auto;
  font-size: 14px;
  background-color: transparent;
  color: #dfdfdf;
}

#network {
  margin: 0px;
  margin-left: 8px;
  margin-right: 8px;
  padding: 0px;
  font-family: "FiraCode Nerd Font", auto, auto;
  font-size: 14px;
  background-color: transparent;
  color: #dfdfdf;
}

#pulseaudio {
  margin: 0px;
  padding: 0px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 4px;
  font-family: "FiraCode Nerd Font", auto, auto;
  font-size: 14px;
  background-color: #dfdfdf;
  color: #181818;
}

/* Custom */

#custom-menu {
  margin: 0px;
  margin-right: -4px;
  padding: 0px;
  padding-left: 8px;
  padding-right: 11px;
  border-radius: 0px 4px 4px 0px;
  font-family: "FiraCode Nerd Font Mono", auto, auto;
  font-size: 18px;
  font-weight: bold;
  background-color: #dfdfdf;
  color: #181818;
}

#custom-utilities {
  margin: 0px;
  margin-left: 1px;
  padding: 0px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 4px 0px 0px 4px;
  font-family: "FiraCode Nerd Font Mono", auto, auto;
  font-size: 18px;
  font-weight: bold;
  background-color: #dfdfdf;
  color: #181818;
}

/* Tooltips */

tooltip {
  background-color: rgba(0, 0, 0, 0.65);
  border-radius: 4px;
}

tooltip label {
  color: #dfdfdf;
  font-family: "FiraCode Nerd Font Mono", auto, auto;
  font-size: 14px;
}
