/* CSS for default things */

window#waybar {
  background-color: rgba(0, 0, 0, 0.6);
}

#tags {
  margin: 0px;
  margin-left: 0px;
  margin-right: 2px;
  padding: 0px;
  background-color: transparent;
  color: #dfdfdf;
}

#tags button { /* hide empty tags */
  min-width: 0;
  min-height: 0;
  margin: 0px;
  margin-left: -2px;
  padding: 0px; 
  background-color: transparent;
  border-radius: 4px;
  font-family: "FiraCode Nerd Font Mono", auto, auto;
  font-size: 0;
  font-weight: bold;
}

#tags button.occupied,
#tags button.focused,
#tags button.urgent { /* non-empty tags shared */
  padding-left: 24px;
  padding-right: 23px; /* looks better if right is one pixel less than right in most cases */
  margin-left: 1px;
  font-size: 16px;
}

#tags button.occupied {  
  background-color: transparent;
  color: #dfdfdf;
}
#tags button.focused {
  background-color: #dfdfdf;
  color: #181818;
}
#tags button.urgent {
  background-color: #ff8f40;
  color: #dfdfdf;
}

#window {
  margin: 0px;
  margin-left: 8px;
  margin-right: 4px;
  padding: 0px;
  padding-right: 4px;
  font-family: "FiraCode Nerd Font", auto, auto;
  font-size: 14px;
  background-color: transparent;
  color: #dfdfdf;
}

#waybar.empty #window { /* no active window makes window title disappear */
  background-color: transparent;
  background: none;
}

#clock {
  margin: 0px;
  margin-left: 4px;
  margin-right: 4px;
  padding: 0px;
  padding-left: 2px;
  padding-right: 2px;
  font-family: "FiraCode Nerd Font Mono", auto, auto;
  font-size: 18px;
  font-weight: bold;
  background-color: transparent;
  color: #dfdfdf;
}

#tray {
  margin: 0px;
  margin-left: 4px;
  margin-right: 4px;
  padding: 0px;
  padding-left: 2px;
  padding-right: 2px;
  font-family: "FiraCode Nerd Font Mono", auto, auto;
  font-size: 12px;
  background-color: transparent;
  color: #dfdfdf;
}

#cpu {
  margin: 0px;
  margin-left: 0px;
  margin-right: 4px;
  padding: 0px;
  font-family: "FiraCode Nerd Font", auto, auto;
  font-size: 14px;
  background-color: transparent;
  color: #dfdfdf;
}

#temperature {
  margin: 0px;
  margin-left: 4px;
  margin-right: 8px;
  padding: 0px;
  font-family: "FiraCode Nerd Font", auto, auto;
  font-size: 14px;
  background-color: transparent;
  color: #dfdfdf;
}

#memory {
  margin: 0px;
  margin-left: 8px;
  margin-right: 4px;
  padding: 0px;
  font-family: "FiraCode Nerd Font", auto, auto;
  font-size: 14px;
  background-color: transparent;
  color: #dfdfdf;
}

#battery,
#pulseaudio {
  margin: 0px;
  margin-left: 2px;
  margin-right: 2px;
  padding: 0px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 4px;
  font-family: "FiraCode Nerd Font", auto, auto;
  font-size: 14px;
  background-color: #dfdfdf;
  color: #181818;
}

#network {
  margin: 0px;
  margin-left: 6px;
  margin-right: 4px;
  padding: 0px;
  font-family: "FiraCode Nerd Font", auto, auto;
  font-size: 14px;
  background-color: transparent;
  color: #dfdfdf;
}

/* Custom */

#custom-menu {
  margin: 0px;
  margin-right: 2px;
  padding: 0px;
  padding-left: 8px;
  padding-right: 11px;
  border-radius: 0px 4px 4px 0px;
  font-family: "FiraCode Nerd Font Mono", auto, auto;
  font-size: 18px;
  font-weight: bold;
  background-color: #dfdfdf;
  color: #181818;
}

#custom-utilities {
  margin: 0px;
  margin-left: 2px;
  padding: 0px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 4px 0px 0px 4px;
  font-family: "FiraCode Nerd Font Mono", auto, auto;
  font-size: 18px;
  font-weight: bold;
  background-color: #dfdfdf;
  color: #181818;
}

#custom-separator {
  margin: 0px;
  margin-left: -4px;
  margin-right: -4px;
  padding: 0px;
  font-family: "FiraCode Nerd Font", auto, auto;
  font-size: 16px;
  font-weight: bold;
  background-color: transparent;
  color: #dfdfdf;
}

/* Tooltips */

tooltip {
  background-color: rgba(0, 0, 0, 0.65);
  border-radius: 4px;
}

tooltip label {
  color: #dfdfdf;
  font-family: "FiraCode Nerd Font Mono", auto, auto;
  font-size: 14px;
}
